.git
.gitignore
.DS_Store
.idea
.vscode
.bundle
.byebug_history
.env
.env.*
coverage
log/*
tmp/*
!log/.keep
!tmp/.keep
!tmp/pids/.keep
storage/*
!storage/.keep
!tmp/storage/.keep
node_modules
vendor/bundle
public/assets
docker-compose.override.yml
